<div class="container-fluid pt-3 container-dark">
    <div class="row clearfix">
        <div class="col-lg-3 cuadrante" [style.min-height]="sanitizer.bypassSecurityTrustStyle('calc(100vh / ' + numFilas + ')')" *ngFor="let banda of (bandas | async)">
            <div class="row" *ngIf="banda.usuario && calculateTime(banda.usuario.id) < 30">
                <div class="col-lg-8">
                    <!--span class="timer">{{banda?.usuario.tiempo}} min ejercitando</span-->
                    <h2 [class]="colors[banda.usuario.intensity.color]">{{banda.usuario.nick ? (banda.usuario.nick?.substring(0,6)) : (banda.usuario.nombre?.substring(0,6)) | uppercase }}</h2>
                </div>
                <div class="col-lg-4">
                    <span>
                        <img *ngIf="banda.usuario.id" width="60px" [ngClass]="'indicator'" [src]="getIndicador(banda.usuario).icon">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
