.user-card{
    max-width: 400px;
    width: 80%;
}
html, body {
    height: 100%;
    overflow-y: hidden;
}
body {
    margin: 0;
    font-family: 'arial', 'sans-serif' !important;
    overflow-y: hidden;
}