<main>
    <h1>Test de datos</h1>
    <div calss="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="container">
                    <div class="alert alert-info">
                        <p>Esta es un formulario para obtener datos de reporte de sesion por usuario.</p>
                        <ol>
                            <li>Seleccione un usuario</li>
                            <li>Ingrese un tiempo de duracion de sesion (en minutos)</li>
                            <li>Seleccione una fecha con formato mm/dd/aaaa ó mm-dd-aaaa (Ej: 01-31-2020)</li>
                            <li>Seleccione una hora con formato hh:mm am/pm (Ej: 05:00 PM)</li>
                            <li>Y presione <b>Obtener Datos</b></li>
                        </ol>
                        <p><b>Tips de búsqueda</b></p>
                        <ul>
                            <li>Si no ingresa un tiempo, se usara un tiempo de 30 minutos</li>
                            <li>Si no ingresa una fecha y hora, se usará la última fecha de inicio registrada</li>
                            <li>Para buscar cualquier ocurrencia en una fecha determinada,  coloque un tiempo de 1440 minutos
                                (24 horas) ingrese la fecha y deje el campo hora vacío</li>
                        </ul>
                    </div>
                    <div class="alert alert-info">
                        <p>Para obtener los datos de la ultima sesion del usuario solo debe seleccionar un usuario y presionar el boton <b>Obtener Datos</b></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container">
                    <form [formGroup]="testForm" (ngSubmit)="generateInforme()" class="form-row">
                        <div class="form-group col-12">
                            <label>Usuario</label>
                            <select class="form-control" formControlName="usuario" required>
                                <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}} <{{usuario.email}}></option>
                            </select>
                            <small *ngIf="loadingUsers">Cargando usuarios, por favor espere...</small>
                        </div>
                        <div class="form-group col-auto">
                            <label>Tiempo</label>
                            <input type="number" class="form-control" formControlName="tiempoSesion" min="1" max="10000">
                        </div>
                        <div class="form-group col-auto">
                            <label>Fecha inicio</label>
                            <input type="text" class="form-control datetimepicker-input" id="fecha"formControlName="fechaInicio" data-toggle="datetimepicker" data-target="#fecha" pattern="^(([1-9])|(0[1-9])|(1[0-2]))\/(([0-9])|([0-2][0-9])|(3[0-1]))\/(([0-9][0-9])|([1-2][0,9][0-9][0-9]))$" />
                        </div>
                        <div class="form-group col-auto">
                            <label>Hora inicio</label>
                            <input type="text" class="form-control datetimepicker-input" id="hora"  formControlName="horaInicio" data-toggle="datetimepicker" data-target="#hora" pattern="\b((1[0-2]|0?[1-9]):([0-5][0-9]) ([AaPp][Mm]))"/>
                        </div>
                        <div class="form-group col-12">
                            <button type="submit" [disabled]="!testForm.valid" class="btn btn-primary">Obtener Datos</button>
                        </div>
                    </form>
                    <div class="results">
                        <h3>Resultados</h3>
                        <p *ngIf="loadingResults">Cargando, por favor espere...</p>
                        <div class="alert" *ngIf="alert.show" [ngClass]="{'alert-danger' : alert.type === 'error', 
                            'alert-success': alert.type === 'success'}">
                            {{alert.message}}
                        </div>
                        <ul class="list-group" *ngIf="!loadingResults && alert.show && alert.type !== 'error'">
                            <li class="list-group-item" *ngFor="let intensidad of reporte.data" [style.color]="intensidad.color">
                                <strong>{{intensidad.objetivo}} ({{intensidad.ritmo}} ppm): {{intensidad.tiempo}} minutos</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>