/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: nova;
    src: url('assets/fonts/nova.ttf') format("opentype");
}
@font-face {
    font-family: beon;
    src: url('assets/fonts/beon.ttf') format("opentype");
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'arial', 'sans-serif' !important;
}
.primary{
    color: white;
    background: #200196;
}
.text-center{
    text-align: center;
}
.text-large{
    font-size: 80px;
}
.text-medium{
    font-size: 40px;
}
.text-small{
    font-size: 20px;
}
.text-mini{
    font-size: 10px;
}
.full-width{
    width: 100%;
}
.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}

.bg-pink {
    background-color: #E91E63 !important;
    color: #fff;
}

.bg-purple {
    background-color: #9C27B0 !important;
    color: #fff;
}

.bg-deep-purple {
    background-color: #673AB7 !important;
    color: #fff;
}

.bg-indigo {
    background-color: #3F51B5 !important;
    color: #fff;
}

.bg-blue {
    background-color: #2196F3 !important;
    color: #fff;
}

.bg-light-blue {
    background-color: #03A9F4 !important;
    color: #fff;
}

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff !important;
}

.bg-teal {
    background-color: #009688 !important;
    color: #fff;
}

.bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
}

.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}

.bg-lime {
    background-color: #CDDC39 !important;
    color: #fff;
}

.bg-yellow {
    background-color: #ffe821 !important;
    color: #fff;
}

.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}

.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}

.bg-deep-orange {
    background-color: #FF5722 !important;
    color: #fff;
}

.bg-brown {
    background-color: #795548 !important;
    color: #fff;
}

.bg-grey {
    background-color: #9E9E9E !important;
    color: #fff;
}

.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff;
}

.bg-black {
    background-color: #000000 !important;
    color: #fff;
}

.bg-white {
    background-color: #ffffff !important;
    color: #fff;
}
h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'beon', 'arial', 'sans-serif' !important;
    font-size: 60px;
    transition: all 0.5s;
    font-family: 'beon';
    font-weight: normal;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
mat-sidenav-container,.container-dark{
    height: 100%;
    background: #191919;
    overflow-y: hidden;
}
.cuadrante{
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid #212121;
}
.indicator{
    font-size: 80px;
    font-weight: 900;
}
.timer{
    color: white;
    font-family: 'arial', 'sans-serif' !important;
}
/*Neon*/
.amarillo {
    text-align: center;
    font-size: 4rem;
    margin: 20px 0 20px 0;
    cursor:pointer;
    text-decoration: none;
    transition: all 0.5s;
    font-family:'beon';font-weight:normal;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-weight:600;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e8d500, 0 0 70px #e8d500, 0 0 80px #e8d500, 0 0 100px #e8d500, 0 0 150px #e8d500;
  }
  
  .azul {
    text-align: center;
    font-size: 4rem;
    margin: 20px 0 20px 0;
    cursor:pointer;
    text-decoration: none;
    transition: all 0.5s;
    font-family:'beon';font-weight:normal;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-weight:600;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #009cff, 0 0 70px #009cff, 0 0 80px #009cff, 0 0 100px #009cff, 0 0 150px #009cff;
  }
  
  .rojo {
    text-align: center;
    font-size: 4rem;
    margin: 20px 0 20px 0;
    cursor:pointer;
    text-decoration: none;
    transition: all 0.5s;
    font-family:'beon';font-weight:normal;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-weight:600;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1500, 0 0 70px #ff1500, 0 0 80px #ff1500, 0 0 100px #ff1500, 0 0 150px #ff1500;
  }
  
  .violeta {
    text-align: center;
    font-size: 4rem;
    margin: 20px 0 20px 0;
    cursor:pointer;
    text-decoration: none;
    transition: all 0.5s;
    font-family:'beon';font-weight:normal;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-weight:600;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ea3df7, 0 0 70px #ea3df7, 0 0 80px #ea3df7, 0 0 100px #ea3df7, 0 0 150px #ea3df7;
  }
  .verde {
    text-align: center;
    font-size: 4rem;
    margin: 20px 0 20px 0;
    cursor:pointer;
    text-decoration: none;
    transition: all 0.5s;
    font-family:'beon';font-weight:normal;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-weight:600;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #8eff79, 0 0 70px #8eff79, 0 0 80px #8eff79, 0 0 100px #8eff79, 0 0 150px #8eff79;
  }
  .no-glow{
    text-shadow: unset;    
  }